body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
    background-color: white;
    min-width: 320px;
    max-width: 767px;
  }
  
  .spin-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    overflow: hidden;
    animation: fadeout 0.2s 3s forwards;
  }
    @keyframes fadeout {
      0% {
    opacity: 100%;
  }
      100% {
    opacity: 0%;
    visibility: hidden;
    }
  }
  
  .Spinner {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0%;
    height: 500px;
  }
  
  #text {
    display: flex;
    color: #079748;
    font-family: "Roboto", sans serif;
    font-size: 17px;
    font-weight: 900;
    position: relative;
    top: -857px;
    justify-content: center;
  }
  
  .spin {
    border: 5px solid #08140c ;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader2 {
    border: 5px solid #079748 ;
    width: 220px;
    height: 220px;
    position: relative;
    top: -216px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader3 {
    border: 5px solid #08140c ;
    width: 240px;
    height: 240px;
    position: relative;
    top: -452px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader4 {
    border: 5px solid #079748 ;
    width: 260px;
    height: 260px;
    position: relative;
    top: -708px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
    @keyframes rotate2 {
      0% {
    transform: rotateZ(-360deg)
    }
      100% {
    transform: rotateZ(0deg)
    }
  }
    @keyframes rotate2 {
      0% {
    transform: rotateZ(360deg)
    }
      100% {
    transform: rotateZ(0deg)
    }
  }
  
  .navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    cursor: auto;
  }
  
  #logo .logo {
    display: flex;
    margin-left: 0px;
    width: 370px;
  }
  
  .navbar .logo {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    font-family: 'shrikhand';
    margin: 0px;
    cursor: auto;
  }
  
  .background {
    overflow: hidden;
    height: 320px;
  }
  
  #backgroundimg img{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
    
  .Description {
    position: relative;
    background-color: #f2f2f2;
    border-radius: 45px 45px 0px 0px;
    margin-top: -50px;
    padding-bottom: 10px;
    height: auto;
    margin-bottom: 50px;
  }
   
  .Boissontitle {
    position: relative;
    padding-top: 55px;
  }

  .Description .titleBois{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    cursor: none;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
    cursor: default;
    background: linear-gradient(#5a655f, #08140c);
    border-radius: 60px; 
    border: 0px;
    transition: all 0.3s ease-in-out;
    width: 80%;
    position: relative;
    margin-left: 10%;
  }

  .Drinks {
    justify-content: center;
  }
  
  .Drinks .HTU-action.HTU-text{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-decoration: none;
  }

  .Drinks .HTU-action {
    display: flex;
    justify-content: center;
    height: 60px;
  }

.HTU-text a{
  text-decoration: none;
  color: white;
}

  .HowToUse {
    display: block;
    margin-top: 50px;
    background-color: white;
    margin: 0px 5px;
  }
  
  .HowToUse .HTU-title {
    display: flex;
    height: 30px;
    margin-left: 16px;
    font-size: 25px;
  }
  
  .HTU-action {
    --c:rgb(240, 250, 247);
    text-decoration: none;
    display: flex;
    width: 90%;
    align-items: center;
    background: #c87e6d;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    cursor: pointer;
    box-shadow: 2px 2px 7px #d3d3d3;
  }
    
  .HTU-action .HTU-text {
    
    color: rgb(10, 10, 10);
    font-weight: 500;
    font-size: 15px;
    padding: 27px;
    margin: 0;
  }
          
  .rest-newtext {
    width: 90px;
    height: 25px;
    background-color: #99E2D0;
    position: relative;
    top: -210px;
    left: 65%;
  }
    
  .footer {
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #333333;
    color: white;
    text-decoration: none;
    list-style-type: none;
  }

  .footer-blocs {
    width: 100%;
  }
    
  .iconfooter .linkicon span{
    color: #d9d9d9;
    font-size: 17px;
  }

  .footer .iconfooter span a:hover{
    text-decoration: underline;
  }
  
  .footer-informations .iconfooter{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    margin: 5px;
  }
  
  /* media queries */
  
  @media only screen and (min-width:768px) and (max-width: 1023px) { /* tablets */
  
  body {
    min-width: 768px;
    max-width: 1023px;
  }
  
  #logo .logo{
    width: 290px;
  }
  
  .research-box {
    height: 70px;
    border-top: 5px grey solid;
  }  
    
  .icon-location .fa-map-marker-alt {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
    
  .Description .title-h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .Description .subtile {
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
    justify-content: center;
  }
  
  .Description .button-explorer {
    width: 40%;
    height: 70px;
    font-size: 22px;
  }
      
  .HowToUse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  .HowToUse .HTU-title {
    width: 100%;
  }  
    
   .HTU-action {
    display: flex;
    width: 90%;
    margin: 2%;
  } 
   
  .HTU-number {
    width: 45px;
    height: 45px;
    font-size: 19px;
    left: -19px;
  }  
    
  .HTU-action #icons {
    margin: 10px;
    font-size: 25px;
  }  
    
  .HTU-action .HTU-text {
    font-size: 25px;
    margin-left: 30px;
  }  
    
  .restaurants .title-h2{
      font-size: 30px;
      margin-left: 25px;
    }  
    
  .restaurants .bloc-restaurants{
    display: grid;  
    width: 100%;
    grid-template-columns: 2fr 2fr;
  }
    
  .footer-informations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .footer-informations .bloc-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-width: 100%;
  } 
    
  .liste-informations {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 25px;
  } 
    
  .filters-button i {
    margin-right: 0px;
    margin-left: 0px;
  }  
    .liste-informations a{
    margin-left: 25px; 
    }
    
    .liste-informations li  {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 20px;  
    }
    
    .liste-informations li:hover{
      text-decoration: underline;
    }
  }  
  
  @media only screen and (min-width:1024px) { /* pc */
    
  body {
    min-width: 1024px;
    max-width: none;
  }
    
  #logo .logo{
    width: 300px;
  }
  
  .research-box {
    height: 70px;
    border-top: 5px grey solid;
  }  
    
  .icon-location .fa-map-marker-alt {
    width: 70px;
    height: 70px;
    font-size: 35px;
  }
  
  .Description .title-h1 {
    font-size: 35px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .Description .subtile {
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
    justify-content: center;
  }
  
  .Description .button-explorer {
    width: 35%;
    height: 70px;
    font-size: 25px;
  }
      
  .HowToUse {
    width: 90%;
    margin: auto;
  }
  
  .HowToUse .HTU-title {
    font-size: 30px;
    margin-left: -25px;
  }
  
  .HTU-action {
    display: inline-flex; 
    width: 30%;
    height: 45px;
    margin: 15px;  
  }
    
  .HTU-action .HTU-text {
    display: flex;
    align-items: center;
    font-size: 17px;
    height: 30px;
    padding: 0px;
    margin-left: 15px;
  }
  
  .HTU-action #icons {
      margin: 0px;
  }
    
  .HTU-number{
    width: 37px;
    height: 37px;
    left: -10px;
  }  
  
  .restaurants .title-h2{
      font-size: 30px;
      margin-left: 40px;
    }  
    
  .restaurants .bloc-restaurants{
    display: grid;  
    margin: auto;
    grid-template-columns: 2fr 2fr;
  }
   
    .restaurantcardimg .restaurantcardimgimg{
      height: 280px;
    }  
    
  .restaurant_full-card {
     height: 350px; 
    }
  
  .rest-newtext {
    width: 100px;
    height: 35px;
    top: -320px;
    left: 80%;
  }  
    
  .rest-new_text {
    font-size: 17px;
    top: 8px;
    left: 17%;
  }  
        
  .footer-informations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .footer-informations .bloc-logo {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    max-width: 100%;
  } 
    
  .liste-informations{
    display: flex;
    width: 100%;
    margin-left: 0px;
    justify-content: center;
    padding: 0px;
    margin-bottom: 25px;
  } 
    
  .filters-button i{
    margin-right: 0px;
    margin-left: 25px;
  }  
    .liste-informations a{
    margin-left: 15px; 
    }
    
    .liste-informations li  {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 20px;  
    }
    
     .liste-informations li:hover{
      text-decoration: underline;
    }
  }   